.preview{
  height:150px;
  width:100%;
  border-radius:8px;
  margin-bottom:30px;
  border:1px solid #444;
  transition: background 0.2s;
}

.inputs{
  display:flex;
  flex-direction:column;
  gap:20px;
  max-width:400px;
}

.group{
  display: flex;
  flex-direction: column;
  gap:5px;
}

label{
  color:#888;
  font-size:0.9rem;
}

input{
  background:#252526;
  border:1px solid #333;
  color:white;
  padding:10px;
  border-radius:4px;
  font-family:monospace;
}

.rgb-inputs{
  display:flex;
  gap:10px;
}

.rgb-inputs input{
  width:100%;
}
